.hw-top {
  width: 100px;
  background: red;
  color: white;
  font-family: "Fascinate";
}

#plasmo-shadow-container {
  z-index: 10 !important;
  position: fixed !important;
}

#plasmo-overlay-0 {
  border: 8px solid aqua;
}

.feed-focus-overlay {
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    font-family: sans-serif;
}

.feed-focus-title {
    margin: 0 0 12px 0;
    font-size: 18px;
    color: #333;
}

.switch-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.switch-item label {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}